<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: navigation-bar"></nav>

<div class="container" style="margin-top:30px; max-width:70%">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <h5 th:text="'제목 : ' + ${board.title}"></h5>
      </div>
      <div>
        <td th:text="'작성자 : ' + ${board.writer}"></td>
        <br><br>
      </div>
      <h5> 내용 </h5>
      <div style="border:1px solid; padding:10px;">
        <dl>
          <dd th:text="${board.content}"></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

  <form action="boardContent.html" th:action method="post">
    <div class="comment-form" style="text-align: right">
      <div class="comment-form2" style="max-width:40%; height:200px; margin: 30px 395px">
        <label for="content" hidden>댓글 달기</label>
        <textarea class="form-control" id="content" name="content" placeholder="댓글 달기.." rows="4"></textarea>
        <button type="submit" class="btn btn-primary" style="margin: 20px 5px" onclick="window.location.reload()">작성</button>
      </div>
    </div>
  </form>

<div class="container" style="max-width:70%">
  <table class="table table-hover">

    <tr>
      <th>번호</th>
      <th>작성자</th>
      <th>내용</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="comment : ${comments}">
      <td th:text="${comment.id}"></td>
      <td th:text="${comment.writer}"></td>
      <td th:text="${comment.content}"></td>
    </tr>
    </tbody>

  </table>

  <div class="form-group">
  <button class="btn btn-primary btn-block" type="submit"><a style="color: white; text-decoration: auto" th:href="@{'/board/boardList'}">목록으로</a></button>
  <button class="btn btn-primary btn-block" type="submit" style="float: right; margin-left: 10px"><a style="color: white; text-decoration: auto" th:href="@{/board/delete(id=${board.id})}">삭제</a></button>
  <button class="btn btn-primary btn-block" type="submit" style="float: right"><a style="color: white; text-decoration: auto" th:href="@{'/board/boardUpdate/' + ${board.id}}">수정</a></button>
  </div>

</div>
</body>
</html>